.main {
  background: #80deea;
  border-radius: 5px;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 100px;
  box-sizing: border-box;
  height: 400px;
}
.input1 {
  height: 175px;
}
.calcButton {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calcButton button {
  background-color: #009688;
  font-size: 20px;
  height: 50px;
  color: white;
  border: 2px solid #009688;
  border-radius: 5px;
}
.calcButton button:hover {
  color: black;
  background-color: #fff;
  transition: 0.5s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(30, 177, 177, 0.19);
  cursor: pointer;
}
input[type="text"] {
  border: 2px solid #4dd0e1;
  border-radius: 5px;
  height: 50px;
  text-align: center;
  font-size: 20px;
}

input[type="text"]:focus {
  border: 2px solid #3b82a3;
  outline: none;
  transition: 0.5s;
}
.result {
  text-align: center;
}
input[type="number"] {
  border: 2px solid #4dd0e1;
  border-radius: 5px;
  height: 50px;
  text-align: center;
  font-size: 20px;
}
